#Ignorar tudo
*

#Não ignorar o .gitignore e o converter.py
!.gitignore
!converter.py
!environment.yml

# Manter diretórios (necessário pra Git enxergar o caminho dos arquivos liberados)
!*/

#Ignore a pasta assets
assets/


