body > sb-side-menu > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view > ion-content > ng-include > div > div > ion-content { height: 100% !important; } body > sb-side-menu > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view > ion-content > ng-include > div > div > ion-content > div.scroll > ul 
{ display: grid !important; 
  grid-template-columns: 33% 33% 33% !important;
  grid-template-rows: auto auto auto !important;
  grid-gap: 2% !important;
  height: 100% !important;
  top : 20% !important; 
  
  li:nth-child(1) { 
    width: 100% !important; 
    grid-column: 1 !important; 
    grid-row: 2 !important; 
    width: 85% !important; 
    height: 39% !important; 
    justify-self: end !important; 
    margin-right: -3% !important; 
  } 
  
  li:nth-child(2) {
    grid-column: 2 !important;
    grid-row: 2 !important;
    width: 87% !important;
    margin-top: -7% !important;
    height: 39% !important;
    margin-right: -3% !important;
  } 
  
  li:nth-child(3) {
    grid-column: 3 !important; 
    grid-row: 2 !important;
    width: 80% !important; 
    height: 39% !important; 
    justify-self: start !important;
    margin-left: -12% !important; 
  } 
  
  li:nth-child(4) 
  { grid-column: 3 !important;
    grid-row: 1 !important; 
    margin-top: 10vh !important; 
    height: 20% !important; 
    width: 60% !important; 
    justify-self: start !important;
    maring-right: -20% !important; 
  } 
  li:nth-child(5) {
    margin-top: -110% !important;
    margin-right: -42% !important;
    grid-column: 1 !important;
    grid-row: 3 !important; 
    width: 125% !important; 
    padding-right: 5vw  !important; 
    justify-self: end !important; 
    height: 110% !important; 
  } li:nth-child(6) { 
    margin-top: -110% !important; 
    margin-left: -57% !important; 
    left: 4vw !important; 
    grid-column: 3 !important;
    grid-row: 3 !important; 
    margin-right: 50% !important;
    width: 125% !important; 
    padding-left: 5vw !important; 
    justify-self: start !important; 
    margin-right: 30% !important;
    height: 110% !important; 
  } 
  
  li > div > img, p { 
    display: none !important; 
  } 

} 

body > sb-side-menu > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view > ion-content > ng-include > div > div > ion-content > div.scroll { 
  transform: none !important ; 

}